div{
    /* border: 1px solid black; */
}

._footer_wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid rgb(219, 219, 219);
    background-color: rgb(250, 250, 250);
}

._footer_logoarea{
    line-height: 100px;
    margin-left: 60px;
}

._footer_img{
    vertical-align: middle;
}

._footer_textarea{
    font-size: 14px;
    text-align: center;
    margin-right: 42%;
    margin-top: 35px;
    margin-bottom: 20px;
    color: rgb(142, 142, 142);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

._footer_textarea div{
    margin: 5px;
} 