.head{
    -webkit-box-align: center;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: var(--desktop-nav-height);
    position: fixed;
    top: 0;
    transition: height .2s ease-in-out;
    width: 100%;
    z-index: 3;
}

.headSet{
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-shrink: 0;
    height: var(--desktop-nav-height);
    -webkit-box-pack: center;
    justify-content: flex-start;
    max-width: 975px;
    padding: 0 20px;
    transition: height .2s ease-in-out;
    width: 100%;
    z-index: 10;
}

.underHead{
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 44px 0;
    overflow: hidden;
}

.siedMargin{
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin: 60px auto 0;
    max-width: 935px;
    overflow: hidden;
}

.board{
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-content: stretch;
    display: flex;
}

.underBoard{
    margin-right: auto;
    margin-left: auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-content: stretch;
    display: flex;
}


.boardMargin {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-content: stretch;
    display: flex;
}

.boardTopMargin {
    margin-top: 24px;
    margin-bottom: 16px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    align-content: stretch;
    display: flex;
}

.icon{
    background-position: -130px 0;
    height: 50px;
    width: 82px;
}

.margin{
    margin-left: 44px;
    margin-bottom: 16px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    align-content: stretch;
    display: flex;
}