<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로젝트 상세</title>
    <link rel="stylesheet" href="../../static/assets/css/project/default.css">
    <link rel="stylesheet" href="../../static/assets/css/project/message.css">

    <link rel="stylesheet" href="../../static/assets/css/footer.css" />
    <link rel="stylesheet" href="../../static/assets/css/header.css" />

    <style>
    </style>
</head>

<body>
    <header>
        <div class="header">
            <main class="_main">
                <nav class="_nav_wrapper">
                    <div class="_nav_div"></div>
                    <div>
                        <div class="_header_wrapper" style="border-bottom: 1px solid rgb(219, 219, 219);">
                            <div class="_header_content">
                                <!-- #########로고########## -->
                                <div class="_logo_wrapper"><a href="/" role="link" tabindex="0">
                                        <div class="_logo_box">
                                            <div class="_logo"><img src="img\Lit-logo.jpg"></div>
                                        </div>
                                    </a></div>
                                <!-- #########검색########## -->
                                <div class="_search_wrapper" style="padding-right: 84px;">
                                    <input class="_search_input" aria-label="입력 검색" autocapitalize="none" type="text"
                                        value="">
                                    <div class="_search_cancle" aria-disabled="false" aria-label="검색란 지우기" tabindex="0"
                                        style="cursor: pointer;">x</div>
                                    <div class="_search_box" role="button" tabindex="0"
                                        style="padding-top: 1px; border-radius: 8px;">
                                        <div class="_search_small_box">
                                            <div class="_search_icon" style="padding-top: 1.5px; ">
                                                <svg aria-label="검색" class="_ab6-" color="#8e8e8e" fill="#8e8e8e"
                                                    height="16" role="img" viewBox="0 0 24 24" width="16">
                                                    <path d="M19 10.5A8.5 8.5 0 1110.5 2a8.5 8.5 0 018.5 8.5z"
                                                        fill="none" stroke="currentColor" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke-width="2"></path>
                                                    <line fill="none" stroke="currentColor" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke-width="2" x1="16.511" x2="22"
                                                        y1="16.511" y2="22"></line>
                                                </svg>
                                            </div>
                                            <span class="_search_span" style="padding-left: 13px;">검색</span>
                                        </div>
                                    </div>

                                    <div class="_search_line"></div>
                                </div>
                                <!-- #########아이콘########## -->
                                <div class="_icon_wrapper">
                                    <div class="_icon_box" style="padding-right: 43px;">
                                        <!-- #########홈버튼########## -->
                                        <div class="_icon_each">
                                            <div class="_icon_home"><a href="/" role="link" tabindex="0">
                                                    <svg aria-label="홈" class="_ab6-" color="#262626" fill="#262626"
                                                        height="24" role="img" viewBox="0 0 24 24" width="24">
                                                        <path
                                                            d="M9.005 16.545a2.997 2.997 0 012.997-2.997h0A2.997 2.997 0 0115 16.545V22h7V11.543L12 2 2 11.543V22h7.005z"
                                                            fill="none" stroke="currentColor" stroke-linejoin="round"
                                                            stroke-width="2"></path>
                                                    </svg>
                                                </a>
                                                <div></div>
                                            </div>
                                        </div>
                                        <!-- #########다이렉트 메세지########## -->
                                        <div class="_icon_each"><a class="_icon_message" aria-label="Direct 메시지"
                                                href="/" role="link" tabindex="0">
                                                <img src="img\email.png"></a>
                                            <div></div>
                                        </div>
                                        <!-- #########새프로젝트 생성########## -->
                                        <div class="_icon_each">
                                            <div class="_icon_new_wrapper">
                                                <button class="_icon_button" type="button">
                                                    <div class="_icon_new_box">
                                                        <svg aria-label="새로운 게시물" class="_ab6-" color="#262626"
                                                            fill="#262626" height="24" role="img" viewBox="0 0 24 24"
                                                            width="24">
                                                            <path
                                                                d="M2 12v3.45c0 2.849.698 4.005 1.606 4.944.94.909 2.098 1.608 4.946 1.608h6.896c2.848 0 4.006-.7 4.946-1.608C21.302 19.455 22 18.3 22 15.45V8.552c0-2.849-.698-4.006-1.606-4.945C19.454 2.7 18.296 2 15.448 2H8.552c-2.848 0-4.006.699-4.946 1.607C2.698 4.547 2 5.703 2 8.552z"
                                                                fill="none" stroke="currentColor" stroke-linecap="round"
                                                                stroke-linejoin="round" stroke-width="2"></path>
                                                            <line fill="none" stroke="currentColor"
                                                                stroke-linecap="round" stroke-linejoin="round"
                                                                stroke-width="2" x1="6.545" x2="17.455" y1="12.001"
                                                                y2="12.001"></line>
                                                            <line fill="none" stroke="currentColor"
                                                                stroke-linecap="round" stroke-linejoin="round"
                                                                stroke-width="2" x1="12.003" x2="12.003" y1="6.545"
                                                                y2="17.455"></line>
                                                        </svg>
                                                    </div>
                                                </button>
                                                <div class="_aa1s" style="margin-left: -140px;"></div>
                                            </div>
                                        </div>
                                        <!-- #########첼린지 생성########## -->
                                        <div class="_icon_each"><a href="/" role="link" tabindex="0">
                                                <img src="img\write.png" alt="img\write.png">
                                            </a></div>
                                        <!-- #########활동 피드########## -->
                                        <div class="_icon_each">
                                            <div class="_icon_activity_box"><a class="_icon_activity" href="/">
                                                    <svg aria-label="활동 피드" class="_ab6-" color="#262626" fill="#262626"
                                                        height="24" role="img" viewBox="0 0 24 24" width="24">
                                                        <path
                                                            d="M16.792 3.904A4.989 4.989 0 0121.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 014.708-5.218 4.21 4.21 0 013.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 013.679-1.938m0-2a6.04 6.04 0 00-4.797 2.127 6.052 6.052 0 00-4.787-2.127A6.985 6.985 0 00.5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 003.518 3.018 2 2 0 002.174 0 45.263 45.263 0 003.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 00-6.708-7.218z">
                                                        </path>
                                                    </svg>
                                                </a>
                                                <div></div>
                                            </div>
                                            <div class="_aa1s" style="margin-left: -423px;"></div>
                                        </div>
                                        <!-- #########프로필########## -->
                                        <div class="_icon_each">
                                            <div class="_icon_profile">
                                                <div></div>
                                                <span class="_icon_profile_span" role="link" tabindex="0"
                                                    style="width: 24px; height: 24px;">
                                                    <img class="_aa8j" src="img\profile_ex.png"
                                                        alt="img\profile_ex.png">
                                                    <!-- <img alt="img\profile_ex.png"
                                                        class="_aa8j" crossorigin="anonymous" draggable="false" src="img\profile_ex.png"> -->
                                                    <!-- 백엔드 src에 타임리프 이용해서 사용자 프로필 이미지 작성 필요-->
                                                </span>
                                            </div>
                                            <div class="_aa1s" style="margin-left: -180px;">
                                                <div class="_dropdown_wrapper" style="display:none;">
                                                    <div class="_rbtri" style="left: 184px;"></div>
                                                    <div class="_dropdown_manu">
                                                        <a class="_dropdown_a " href="/">
                                                            <div class="_dropdown_profile" style="padding:20px;">
                                                                <div class="_dropdown_profile_img"><svg aria-label="프로필"
                                                                        class="_ab6-" color="#262626" fill="#262626"
                                                                        height="16" role="img" viewBox="0 0 24 24"
                                                                        width="16">
                                                                        <circle cx="12.004" cy="12.004" fill="none"
                                                                            r="10.5" stroke="currentColor"
                                                                            stroke-linecap="round"
                                                                            stroke-miterlimit="10" stroke-width="2">
                                                                        </circle>
                                                                        <path
                                                                            d="M18.793 20.014a6.08 6.08 0 00-1.778-2.447 3.991 3.991 0 00-2.386-.791H9.38a3.994 3.994 0 00-2.386.791 6.09 6.09 0 00-1.779 2.447"
                                                                            fill="none" stroke="currentColor"
                                                                            stroke-linecap="round"
                                                                            stroke-miterlimit="10" stroke-width="2">
                                                                        </path>
                                                                        <circle cx="12.006" cy="9.718" fill="none"
                                                                            r="4.109" stroke="currentColor"
                                                                            stroke-linecap="round"
                                                                            stroke-miterlimit="10" stroke-width="2">
                                                                        </circle>
                                                                    </svg></div>
                                                                <div class="dropdown_profile_write"
                                                                    style="padding-left: 10px; padding-top: 5px;">
                                                                    <div class="dropdown_profile_write_content"
                                                                        style="height:28px; width: 170px;">프로필</div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <a class="_dropdown_a _setting" href="/">
                                                            <div class="_dropdown_setting" style="padding:20px; ">
                                                                <div class="_dropdown_setting_img"><svg aria-label="설정"
                                                                        class="_ab6-" color="#262626" fill="#262626"
                                                                        height="16" role="img" viewBox="0 0 24 24"
                                                                        width="16">
                                                                        <circle cx="12" cy="12" fill="none" r="8.635"
                                                                            stroke="currentColor" stroke-linecap="round"
                                                                            stroke-linejoin="round" stroke-width="2">
                                                                        </circle>
                                                                        <path
                                                                            d="M14.232 3.656a1.269 1.269 0 01-.796-.66L12.93 2h-1.86l-.505.996a1.269 1.269 0 01-.796.66m-.001 16.688a1.269 1.269 0 01.796.66l.505.996h1.862l.505-.996a1.269 1.269 0 01.796-.66M3.656 9.768a1.269 1.269 0 01-.66.796L2 11.07v1.862l.996.505a1.269 1.269 0 01.66.796m16.688-.001a1.269 1.269 0 01.66-.796L22 12.93v-1.86l-.996-.505a1.269 1.269 0 01-.66-.796M7.678 4.522a1.269 1.269 0 01-1.03.096l-1.06-.348L4.27 5.587l.348 1.062a1.269 1.269 0 01-.096 1.03m11.8 11.799a1.269 1.269 0 011.03-.096l1.06.348 1.318-1.317-.348-1.062a1.269 1.269 0 01.096-1.03m-14.956.001a1.269 1.269 0 01.096 1.03l-.348 1.06 1.317 1.318 1.062-.348a1.269 1.269 0 011.03.096m11.799-11.8a1.269 1.269 0 01-.096-1.03l.348-1.06-1.317-1.318-1.062.348a1.269 1.269 0 01-1.03-.096"
                                                                            fill="none" stroke="currentColor"
                                                                            stroke-linejoin="round" stroke-width="2">
                                                                        </path>
                                                                    </svg></div>
                                                                <div class="_dropdown_setting_write"
                                                                    style="padding-left: 10px; padding-top: 5px;">
                                                                    <div class="_dropdown_setting_write_content"
                                                                        style="height:28px; width: 170px;">설정</div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <hr class="_dropdown_line">
                                                        <a>
                                                            <div class="_dropdown_logout">
                                                                <div class="_dropdown_logout_content">로그아웃</div>
                                                            </div>
                                                            <!-- 로그아웃 클릭시 활성 이벤트 작성 필요 -> session 삭제?  -->
                                                        </a>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </main>
        </div>
    </header>
    <main>
        <div class="mainWrap">

            <section class="sec1">
                <div class="dmWrap">

                    <div class="colBox">
                        <div class="link">
                            <p>아이디</p>
                            <div class="iconBox">
                                <a class="icon_writing_square" href="javascript:dmSubmit();" id="modalOnBtn1"></a>
                            </div>
                        </div>
                        <div class="dmList">
                            <figure class="dmBtn">
                                <a href="" data-userNo="12" class="userDMList">
                                    <div class="dmImg">
                                        <img src="../../static/images/project/domImg/indi01.webp" alt="">
                                    </div>
                                    <div class="dmData">
                                        <p>XXX님</p>
                                        <p>마지막 체팅내용 요약</p>
                                    </div>
                                </a>
                            </figure>
                            <figure class="dmBtn">
                                <a href="" data-userNo="12" class="userDMList">
                                    <div class="dmImg">
                                        <img src="../../static/images/project/domImg/indi02.webp" alt="">
                                    </div>
                                    <div class="dmData">
                                        <p>XXX님</p>
                                        <p>마지막 체팅내용 요약</p>
                                    </div>
                                </a>
                            </figure>
                        </div>
                    </div>

                    <div class="colBox dmBox">
                        <div class="contentTop">
                            <div>
                                <img src="../../static/images/project/domImg/indi01.webp" alt="">
                            </div>
                            <div>
                                <span>XXX님</span>
                            </div>
                            <div class="iconBox hidden">
                                <a class="icon_info" href=""></a>
                            </div>
                        </div>

                        <div class="content">
                            <div>
                                <div class="dmStyle1">
                                    <div class="dmImg">
                                        <img src="../../static/images/project/domImg/indi01.webp" alt="">
                                    </div>
                                    <div class="text">
                                        내가 쓴글
                                    </div>
                                </div>
                                <div class="dmStyle2">
                                    <div class="dmImg">
                                        <img src="../../static/images/project/domImg/indi01.webp" alt="">
                                    </div>
                                    <div class="text">
                                        문제는 이걸...
                                    </div>
                                </div>
                                <div class="dmStyle2">
                                    <div class="dmImg">
                                        <img src="../../static/images/project/domImg/indi01.webp" alt="">
                                    </div>
                                    <div class="text">
                                        니가 쓴글
                                    </div>
                                </div>
                                <div class="dmStyle1">
                                    <div class="dmImg">
                                        <img src="../../static/images/project/domImg/indi01.webp" alt="">
                                    </div>
                                    <div class="text">
                                        내가 쓴글
                                    </div>
                                </div>
                                <div class="dmStyle2">
                                    <div class="dmImg">
                                        <img src="../../static/images/project/domImg/indi01.webp" alt="">
                                    </div>
                                    <div class="text">
                                        니가 쓴글 써본다 이것 저것 그냥
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dignissimos
                                        tempora, accusamus molestiae voluptas alias debitis nostrum molestias quidem
                                        facere unde totam, harum magni fugiat aut ea! Deserunt, debitis mollitia.

                                    </div>
                                </div>
                                <div class="dmStyle2">
                                    <div class="dmImg">
                                        <img src="../../static/images/project/domImg/indi01.webp" alt="">
                                    </div>
                                    <div class="text">
                                        니가 쓴글 써본다 이것 저것 그냥
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dignissimos
                                        tempora, accusamus molestiae voluptas alias debitis nostrum molestias quidem
                                        facere unde totam, harum magni fugiat aut ea! Deserunt, debitis mollitia.

                                    </div>
                                </div>
                                <div class="dmStyle2">
                                    <div class="dmImg">
                                        <img src="../../static/images/project/domImg/indi01.webp" alt="">
                                    </div>
                                    <div class="text">
                                        니가 쓴글 써본다 이것 저것 그냥
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dignissimos
                                        tempora, accusamus molestiae voluptas alias debitis nostrum molestias quidem
                                        facere unde totam, harum magni fugiat aut ea! Deserunt, debitis mollitia.

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="textInput">
                            <div>
                                <div class="iconBox">
                                    <a class="icon_happy"></a>
                                </div>
                                <div class="inputBox">
                                    <input type="text" placeholder="메세지를 입력하세요...">
                                </div>
                                <div class="iconBox">
                                    <a class="icon-photo"></a>
                                </div>
                                <div class="iconBox">
                                    <a class="icon_heart_white"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 첫 페이지시 보여지는 창-->
                    <div class="colBox firstBox on">
                        <div>
                            <div class="iconBox">
                                <svg aria-label="Direct" class="_ab6-" color="#262626" fill="#262626" height="96"
                                    role="img" viewBox="0 0 96 96" width="96">
                                    <circle cx="48" cy="48" fill="none" r="47" stroke="currentColor"
                                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle>
                                    <line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"
                                        x1="69.286" x2="41.447" y1="33.21" y2="48.804"></line>
                                    <polygon fill="none"
                                        points="47.254 73.123 71.376 31.998 24.546 32.002 41.448 48.805 47.254 73.123"
                                        stroke="currentColor" stroke-linejoin="round" stroke-width="2"></polygon>
                                </svg>
                            </div>
                            <p>내 메시지</p>
                            <p>친구나 구룹에 비공개 사진과 메시지를 보내보세요</p>
                            <div class="iconBox userListBtn">
                                <a href="javascript:dmSubmit();">메세지 보내기</a>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

        </div>
    </main>

    <div class="footer">
        <footer>
            <div class="_footer_wrapper">
                <div class="_footer_logoarea">
                    <img class="_footer_img" src="img\Lit-logo.jpg">
                </div>
                <div class="_footer_textarea">
                    <div class="_text_adress">서울특별시 강남구 테헤란로 146 </div>
                    <div class="_text_email">getLitty@litsearvice.com</div>
                    <div class="_text_service">고객센터 070-4731-6898, 평일 09:00 ~ 18:00 </div>
                    <div class="_text_right">© 2022 Lit from Korea</div>
                </div>
            </div>
        </footer>
    </div>

    <aside class="modal1" id="modal1">
        <div>
            <div class="modalTop">
                <div>
                    <a href="" id="modalClose">
                        <svg aria-label="닫기" class="_ab6-" color="#262626" fill="#262626" height="18" role="img"
                            viewBox="0 0 24 24" width="18">
                            <polyline fill="none" points="20.643 3.357 12 12 3.353 20.647" stroke="currentColor"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></polyline>
                            <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="3" x1="20.649" x2="3.354" y1="20.649" y2="3.354"></line>
                        </svg>
                    </a>
                </div>
                <div>
                    새로운 메세지
                </div>
                <div class="hidden">다음</div>
            </div>
            <div class="modalSearch">
                <input type="text" placeholder="검색...">
            </div>
            <div class="userList">
                <!-- 반복 문 실행==========================================-->
                <div>
                    <div class="dmImg">
                        <img src="../../static/images/project/domImg/indi01.webp" alt="">
                    </div>
                    <div class="userData">
                        <p>유저아이디1</p>
                        <p>유저네임1</p>
                    </div>
                    <div class="dmBtn">
                        <a href="" class="userDMLink">채팅</a>
                    </div>
                </div>

                <div>
                    <div class="dmImg">
                        <img src="../../static/images/project/domImg/indi02.webp" alt="">
                    </div>
                    <div class="userData">
                        <p>유저아이디2</p>
                        <p>유저네임2</p>
                    </div>
                    <div class="dmBtn">
                        <a href="" class="userDMLink">채팅</a>
                    </div>
                </div>
                <div>
                    <div class="dmImg">
                        <img src="../../static/images/project/domImg/indi03.webp" alt="">
                    </div>
                    <div class="userData">
                        <p>유저아이디3</p>
                        <p>유저네임3</p>
                    </div>
                    <div class="dmBtn">
                        <a href="" class="userDMLink">채팅</a>
                    </div>
                </div>
                <!--========================================================-->

            </div>
        </div>
    </aside>

    <footer>footer</footer>
</body>
<script src="../../static/assets/js/jquery-3.6.0.min.js"></script>
<script>
    // 유저 리스트 모달창
    function dmSubmit() {
        $("#modal1").addClass("on");
    }
    $("a#modalClose").on("click", function (e) {
        e.preventDefault();
        $("#modal1").removeClass("on");
    });

    // dm 선택시 리스트 가져오기
    $(".dmBtn>a").on("click", function (e) {
        e.preventDefault();
        // 처음 클릭이면
        if (!$(".dmBox").hasClass("on")) {
            $(".firstBox").removeClass("on");
            $(".dmBox").addClass("on");
        }
        $("#modal1").removeClass("on");

        // AJAX 실행
        dmList();

    });

    // dm 내용 가져오기 ajax
    function dmList() {
        console.log("유저 리스트 가져오기");
        // Ajax 에섯 데이타 가져오기
        // $.ajax({
        // });
    }

    // 유저 검색 이텐트
    $(".modalSearch > input").keyup(function () {
        // 입력 값 가져오기
        let keyWord = $(this).val();
        console.log(keyWord);
        userList()
        //
    });

    // DM 유저 리스트
    function userList() {
        console.log("유저 리스트 가져오기");
        // Ajax 에섯 데이타 가져오기
        // $.ajax({
        // });
    }

    // 스크롤시 DM 리스트 가져오기



</script>

</html>