<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>프로젝트 상세</title>
    <link rel="stylesheet" href="/assets/css/project/default.css">
    <link rel="stylesheet" href="/assets/css/project/message.css">

    <link rel="stylesheet" href="/assets/css/footer.css" />
    <link rel="stylesheet" href="/assets/css/header.css" />

    <style>
    </style>
</head>

<body>
    <header></header>
    <main>
        <div class="mainWrap">

            <section class="sec1">
                <div class="dmWrap">

                    <div class="colBox">
                        <div class="link">
                            <p>아이디</p>
                            <div class="iconBox">
                                <a class="icon_writing_square" href="javascript:dmSubmit();" id="modalOnBtn1"></a>
                            </div>
                        </div>
                        <div class="dmList">
                            <figure class="dmBtn">
                                <a href="" data-userNo="12" class="userDMList">
                                    <div class="dmImg">
                                        <img src="/images/project/domImg/indi01.webp" alt="">
                                    </div>
                                    <div class="dmData">
                                        <p>XXX님</p>
                                        <p>마지막 체팅내용 요약</p>
                                    </div>
                                </a>
                            </figure>
                            <figure class="dmBtn">
                                <a href="" data-userNo="12" class="userDMList">
                                    <div class="dmImg">
                                        <img src="/images/project/domImg/indi02.webp" alt="">
                                    </div>
                                    <div class="dmData">
                                        <p>XXX님</p>
                                        <p>마지막 체팅내용 요약</p>
                                    </div>
                                </a>
                            </figure>
                        </div>
                    </div>

                    <div class="colBox dmBox">
                        <div class="contentTop">
                            <div>
                                <img src="/images/project/domImg/indi01.webp" alt="">
                            </div>
                            <div>
                                <span>XXX님</span>
                            </div>
                            <div class="iconBox hidden">
                                <a class="icon_info" href=""></a>
                            </div>
                        </div>

                        <div class="content">
                            <div>
                                <div class="dmStyle1">
                                    <div class="dmImg">
                                        <img src="/images/project/domImg/indi01.webp" alt="">
                                    </div>
                                    <div class="text">
                                        내가 쓴글
                                    </div>
                                </div>
                                <div class="dmStyle2">
                                    <div class="dmImg">
                                        <img src="/images/project/domImg/indi01.webp" alt="">
                                    </div>
                                    <div class="text">
                                        문제는 이걸...
                                    </div>
                                </div>
                                <div class="dmStyle2">
                                    <div class="dmImg">
                                        <img src="/images/project/domImg/indi01.webp" alt="">
                                    </div>
                                    <div class="text">
                                        니가 쓴글
                                    </div>
                                </div>
                                <div class="dmStyle1">
                                    <div class="dmImg">
                                        <img src="/images/project/domImg/indi01.webp" alt="">
                                    </div>
                                    <div class="text">
                                        내가 쓴글
                                    </div>
                                </div>
                                <div class="dmStyle2">
                                    <div class="dmImg">
                                        <img src="/images/project/domImg/indi01.webp" alt="">
                                    </div>
                                    <div class="text">
                                        니가 쓴글 써본다 이것 저것 그냥
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dignissimos
                                        tempora, accusamus molestiae voluptas alias debitis nostrum molestias quidem
                                        facere unde totam, harum magni fugiat aut ea! Deserunt, debitis mollitia.

                                    </div>
                                </div>
                                <div class="dmStyle2">
                                    <div class="dmImg">
                                        <img src="/images/project/domImg/indi01.webp" alt="">
                                    </div>
                                    <div class="text">
                                        니가 쓴글 써본다 이것 저것 그냥
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dignissimos
                                        tempora, accusamus molestiae voluptas alias debitis nostrum molestias quidem
                                        facere unde totam, harum magni fugiat aut ea! Deserunt, debitis mollitia.

                                    </div>
                                </div>
                                <div class="dmStyle2">
                                    <div class="dmImg">
                                        <img src="/images/project/domImg/indi01.webp" alt="">
                                    </div>
                                    <div class="text">
                                        니가 쓴글 써본다 이것 저것 그냥
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dignissimos
                                        tempora, accusamus molestiae voluptas alias debitis nostrum molestias quidem
                                        facere unde totam, harum magni fugiat aut ea! Deserunt, debitis mollitia.

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="textInput">
                            <div>
                                <div class="iconBox">
                                    <a class="icon_happy"></a>
                                </div>
                                <div class="inputBox">
                                    <input type="text" placeholder="메세지를 입력하세요...">
                                </div>
                                <div class="iconBox">
                                    <a class="icon_heart_white"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 첫 페이지시 보여지는 창-->
                    <div class="colBox firstBox on">
                        <div>
                            <div class="iconBox">
                                <svg aria-label="Direct" class="_ab6-" color="#262626" fill="#262626" height="96"
                                    role="img" viewBox="0 0 96 96" width="96">
                                    <circle cx="48" cy="48" fill="none" r="47" stroke="currentColor"
                                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle>
                                    <line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"
                                        x1="69.286" x2="41.447" y1="33.21" y2="48.804"></line>
                                    <polygon fill="none"
                                        points="47.254 73.123 71.376 31.998 24.546 32.002 41.448 48.805 47.254 73.123"
                                        stroke="currentColor" stroke-linejoin="round" stroke-width="2"></polygon>
                                </svg>
                            </div>
                            <p>내 메시지</p>
                            <p>친구나 구룹에 비공개 사진과 메시지를 보내보세요</p>
                            <div class="iconBox userListBtn">
                                <a href="javascript:dmSubmit();">메세지 보내기</a>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

        </div>
    </main>

    <aside class="modal1" id="modal1">
        <div>
            <div class="modalTop">
                <div>
                    <a href="" id="modalClose">
                        <svg aria-label="닫기" class="_ab6-" color="#262626" fill="#262626" height="18" role="img"
                            viewBox="0 0 24 24" width="18">
                            <polyline fill="none" points="20.643 3.357 12 12 3.353 20.647" stroke="currentColor"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></polyline>
                            <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="3" x1="20.649" x2="3.354" y1="20.649" y2="3.354"></line>
                        </svg>
                    </a>
                </div>
                <div>
                    새로운 메세지
                </div>
                <div class="hidden">다음</div>
            </div>
            <div class="modalSearch">
                <input type="text" placeholder="검색...">
            </div>
            <div class="userList">
                <!-- 반복 문 실행==========================================-->
                <div>
                    <div class="dmImg">
                        <img src="/images/project/domImg/indi01.webp" alt="">
                    </div>
                    <div class="userData">
                        <p>유저아이디1</p>
                        <p>유저네임1</p>
                    </div>
                    <div class="dmBtn">
                        <a href="" class="userDMLink">채팅</a>
                    </div>
                </div>

                <div>
                    <div class="dmImg">
                        <img src="/images/project/domImg/indi02.webp" alt="">
                    </div>
                    <div class="userData">
                        <p>유저아이디2</p>
                        <p>유저네임2</p>
                    </div>
                    <div class="dmBtn">
                        <a href="" class="userDMLink">채팅</a>
                    </div>
                </div>
                <div>
                    <div class="dmImg">
                        <img src="/images/project/domImg/indi03.webp" alt="">
                    </div>
                    <div class="userData">
                        <p>유저아이디3</p>
                        <p>유저네임3</p>
                    </div>
                    <div class="dmBtn">
                        <a href="" class="userDMLink">채팅</a>
                    </div>
                </div>
                <!--========================================================-->

            </div>
        </div>
    </aside>

    <footer>footer</footer>
</body>
<script src="/assets/js/jquery-3.6.0.min.js"></script>
<script>
    // 유저 리스트 모달창
    function dmSubmit() {
        $("#modal1").addClass("on");
    }
    $("a#modalClose").on("click", function (e) {
        e.preventDefault();
        $("#modal1").removeClass("on");
    });

    // dm 선택시 리스트 가져오기
    $(".dmBtn>a").on("click", function (e) {
        e.preventDefault();
        // 처음 클릭이면
        if (!$(".dmBox").hasClass("on")) {
            $(".firstBox").removeClass("on");
            $(".dmBox").addClass("on");
        }
        $("#modal1").removeClass("on");

        // AJAX 실행
        dmList();

    });

    // dm 내용 가져오기 ajax
    function dmList() {
        console.log("유저 리스트 가져오기");
        // Ajax 에섯 데이타 가져오기
        // $.ajax({
        // });
    }

    // 유저 검색 이텐트
    $(".modalSearch > input").keyup(function () {
        // 입력 값 가져오기
        let keyWord = $(this).val();
        console.log(keyWord);
        userList()
        //
    });

    // DM 유저 리스트
    function userList() {
        console.log("유저 리스트 가져오기");
        // Ajax 에섯 데이타 가져오기
        // $.ajax({
        // });
    }

    // 스크롤시 DM 리스트 가져오기



</script>

</html>