<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로젝트 상세</title>
    <link rel="stylesheet" href="../../static/assets/css/project/default.css">
    <link rel="stylesheet" href="../../static/assets/css/project/message.css">
</head>

<body>
    <header>header</header>
    <main>
        <div class="mainWrap">
            <section class="sec1">
                <div class="dmWrap">
                    <div>
                        <div class="link">
                            <p>아이디</p>
                            <a href=""></a>
                        </div>
                        <div class="dmList">
                            <figure>
                                <div class="dmImg">
                                    <img src="../../static/images/project/domImg/indi01.webp" alt="">
                                </div>
                                <div class="dmData">
                                    <p>XXX님</p>
                                    <p>마지막 체팅내용 요약</p>
                                </div>
                            </figure>
                            <figure>
                                <div class="dmImg">
                                    <img src="../../static/images/project/domImg/indi01.webp" alt="">
                                </div>
                                <div class="dmData">
                                    <p>XXX님</p>
                                    <p>마지막 체팅내용 요약</p>
                                </div>
                            </figure>
                        </div>
                    </div>
                    <div>
                        <div class="contentTop">
                            <div>
                                <img src="../../static/images/project/domImg/indi01.webp" alt="">
                            </div>
                            <div>
                                <span>XXX님</span>
                            </div>
                            <a href=""></a>
                        </div>
                        <div class="content">
                            <div>내용</div>
                            <div>입력</div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <footer>footer</footer>
</body>

</html>