<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로젝트 상세</title>
    <link rel="stylesheet" href="/assets/css/project/default.css">
    <link rel="stylesheet" href="/assets/css/project/project.css">

    <style>
        section {
            border-left: 1px solid #e5e5e5;
            border-right: 1px solid #e5e5e5;
            padding: 40px;
        }

        .sec1>div {
            padding-top: 10px;
        }

        .mainWrap {
            padding: 0;
        }

        .sec2 {
            border-top: none;
        }

        .sec2>div {
            border-top: 1px solid #e5e5e5;
        }
    </style>
</head>

<body>
    <header>header</header>
    <main>
        <div class="mainWrap">
            <section class="sec1">
                <div>
                    <div class="projectImg">
                        <a>
                            <img src="/images/project/domImg/indi01.webp" alt="">
                        </a>
                    </div>
                    <div class="projectInfoWrap">
                        <div>
                            <p class="infoKey">
                                챌린지 제목
                            </p>

                            <p>
                                <span>참가인원</span>
                                <span>102</span>
                                <span>게시물</span>
                                <span>201</span>
                            </p>
                        </div>
                        <div>
                            <label for="btn1" class="btn">참여하기</label>
                            <input type="hidden" id="btn1">
                        </div>
                        <div>
                            <p class="infoKey">
                                챌린지 기간
                            </p>
                            <p>
                                <span>2022-06-01~06.22</span>
                            </p>
                        </div>
                        <div>
                            <p class="infoKey">
                                챌린지 소개
                            </p>
                            <p>
                                누구나 운동을 열심히 해서 몸짱이 되어보자
                            </p>
                        </div>
                        <div>
                            <p class="infoKey">
                                인증방법
                            </p>
                            <p>
                                헬스장[운동기구 3개 이상]이 나오게 사진찍기
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sec2">
                <div>
                    <figure>
                        <a>
                            <img src="/images/project/domImg/indi01.webp" alt="">
                        </a>
                    </figure>
                    <figure>
                        <a>
                            <img src="/images/project/domImg/indi02.webp" alt="">
                        </a>
                    </figure>
                    <figure>
                        <a>
                            <img src="/images/project/domImg/indi03.webp" alt="">
                        </a>
                    </figure>
                    <figure>
                        <a>
                            <img src="/images/project/domImg/indi04.jpg" alt="">
                        </a>
                    </figure>
                    <figure>
                        <a>
                            <img src="/images/project/domImg/indi05.webp" alt="">
                        </a>
                    </figure>
                    <figure>
                        <a>
                            <img src="/images/project/domImg/indi06.webp" alt="">
                        </a>
                    </figure>
                    <figure>
                        <a>
                            <img src="/images/project/domImg/indi01.webp" alt="">
                        </a>
                    </figure>
                    <figure>
                        <a>
                            <img src="/images/project/domImg/indi02.webp" alt="">
                        </a>
                    </figure>
                    <figure>
                        <a>
                            <img src="/images/project/domImg/indi03.webp" alt="">
                        </a>
                    </figure>
                    <figure>
                        <a>
                            <img src="/images/project/domImg/indi04.jpg" alt="">
                        </a>
                    </figure>
                    <figure>
                        <a>
                            <img src="/images/project/domImg/indi05.webp" alt="">
                        </a>
                    </figure>
                    <figure>
                        <a>
                            <img src="/images/project/domImg/indi06.webp" alt="">
                        </a>
                    </figure>

                </div>
            </section>
        </div>
    </main>
    <aside class="modalWindow">
        <div class="modalWrap">
            <div>윈도우</div>
        </div>
    </aside>


    <footer>footer</footer>
</body>

</html>