<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로젝트 상세</title>

    <link rel="stylesheet" href="/assets/css/project/default.css">
    <link rel="stylesheet" href="/assets/css/project/project.css">
    <link rel="stylesheet" href="/assets/css/default.css">
    <link rel="stylesheet" href="/assets/css/header.css" />
    <link rel="stylesheet" href="/assets/css/footer.css" />

    <!--    여기 충돌 날수도 있는데 모달 헤더에 넣느라 추가 한거에여!! 필요함!!!-->
    <link rel="stylesheet" href="/assets/css/certification/certificationWrite.css">
    <link rel="stylesheet" href="/assets/css/certification/fileLoad.css">
</head>

<body>

<header th:insert="~{/header :: header}"></header>
    <main>
        <div class="mainWrap">
            <section class="sec1" th:object="${projectDTO}">
<!--                <div th:object="${projectVO}">-->
                    <div class="projectImg">
                        <a>
                            <!-- 이미지 링크 추가 -->
                            <img th:src="'/lit/display?fileName='+ *{projectFile.uploadPath} +'/'+ *{projectFile.uuid} + '_' + *{projectFile.name}" alt="">
                        </a>
                    </div>
                    <div class="projectInfoWrap">
                        <div>
                            <p class="infoKey">
                                챌린지 제목
                            </p>

                            <p>
                                <span>참가인원</span>
                                <span th:text="*{participationCount}"></span>
                                <span>게시물</span>
                                <span th:text="*{reviewCount}"></span>
                            </p>
                        </div>
                        <!--===================================================-->
                        <div class="challengeBtn" th:if="${projectDTO.participationStatus} == 0 or ${projectDTO.participationStatus} == null">
                            <input type="hidden" id="btn1" th:value="*{projectNumber}" name="projectNumber">
                            <label for="btn1" class="btn">참여하기</label>
                        </div>
                        <div class="challengeBtn" th:if="${projectDTO.participationStatus} == 1">
                            <label class="btn">참여중</label>
                        </div>
                        <div class="challengeBtn" th:if="${projectDTO.participationStatus} == 2">
                            <label class="btn end">종료</label>
                        </div>
                        <!--===================================================-->
                        <div>
                            <p class="infoKey">
                                챌린지 기간
                            </p>
                            <p>
                            <span th:text="*{startDate} + ' ~ ' + *{endDate}"></span>
                            </p>
                        </div>
                        <div>
                            <p class="infoKey">
                                챌린지 소개
                            </p>
                            <p th:text="*{content}">
                            </p>
                        </div>
                        <div>
                            <p class="infoKey">
                                인증방법
                            </p>
                            <p th:text="*{authentication}">
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sec2">
                <div>
<!--                    반복문 -->
<!--                    <figure>-->
<!--                        <a href="">-->
<!--                            <img src="/images/project/domImg/indi01.webp" alt="">-->
<!--                        </a>-->
<!--                    </figure>-->

                </div>
            </section>
        </div>
    </main>

    <footer th:insert="~{/footer :: footer}"></footer>

</body>

<script src="/assets/js/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
    // 페이지 이동시 프로젝트 넘버 가져오기
    const projectNumber1 = [[${ projectDTO.projectNumber }]];
    const userNumber1 = [[${ projectDTO.userNumber }]];
    console.log("유저번호 : "+userNumber1);
</script>
<script src="/assets/js/project/projectInfo.js"></script>

</html>
