<div class="side-bar__page">
  <div class="logo-box flex__center">
    <div class="logo">
      <img src="/src/main/resources/static/images/admin/logo-white.png" />
    </div>
  </div>
  <a href="">
    <div class="menu-box flex">
      <div class="icon__side-bar">
        <img src="/src/main/resources/static/images/admin/user.png" alt="" />
      </div>
      <div class="menu">회원 관리</div>
    </div>
  </a>
  <a href="">
    <div class="menu-box flex">
      <div class="icon__side-bar">
        <img src="/src/main/resources/static/images/admin/fire.png" alt="" />
      </div>
      <div class="menu">프로젝트 관리</div>
    </div>
  </a>
  <a href="">
    <div class="menu-box flex">
      <div class="icon__side-bar">
        <img src="/src/main/resources/static/images/admin/board.png" alt="" />
      </div>
      <div class="menu">인증글 관리</div>
    </div>
  </a>
  <a href="">
    <div class="menu-box flex">
      <div class="icon__side-bar">
        <img
          src="/src/main/resources/static/images/admin/exclamation.png"
          alt=""
        />
      </div>
      <div class="menu">신고 관리</div>
    </div>
  </a>
</div>
