<div class="side-bar__page">
  <div class="logo-box flex__center">
    <div class="logo">
      <img src="../../static/images/admin/logo-white.png" />
    </div>
  </div>
  <a href="user-management.html">
    <div class="menu-box flex">
      <div class="icon__side-bar">
        <img src="../../static/images/admin/user.png" alt="" />
      </div>
      <div class="menu">회원 관리</div>
    </div>
  </a>
  <a href="" class="arrow-ani">
    <div class="menu-box flex">
      <div class="icon__side-bar">
        <img src="../../static/images/admin/fire.png" alt="" />
      </div>
      <div class="menu">프로젝트 관리</div>
      <div class="icon__side-bar__arrow">
        <img
          class="icon__arrow"
          src="../../static/images/admin/menu-arrow.png"
          alt=""
        />
      </div>
    </div>
  </a>
  <!-- 프로젝트 관리 메뉴의 서브 메뉴 -->
  <div class="sub-menu-box__project">
    <a href="waiting-project-management.html">
      <div class="menu-box flex">
        <div class="menu sub-menu">대기중인 프로젝트</div>
      </div>
    </a>
    <a href="approved-project-management.html">
      <div class="menu-box flex">
        <div class="menu sub-menu">승인된 프로젝트</div>
      </div>
    </a>
  </div>
  <!--  -->
  <a href="review-management.html">
    <div class="menu-box flex">
      <div class="icon__side-bar">
        <img src="../../static/images/admin/board.png" alt="" />
      </div>
      <div class="menu">인증글 관리</div>
    </div>
  </a>
  <a href="report-management.html">
    <div class="menu-box flex">
      <div class="icon__side-bar">
        <img
          src="../../static/images/admin/exclamation.png"
          alt=""
        />
      </div>
      <div class="menu">신고 관리</div>
    </div>
  </a>
</div>
