@charset "UTF-8";
@import url("../default/variables.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main,
.wrapper,
.inner,
.content,
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: xx-large;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .flex-col__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.sec1 {
  height: 100%;
  justify-content: center;
}

.background__red {
  background-color: var(--red);
}
.background__red-none {
  background-color: var(--red-none);
}
.background__gray {
  background-color: var(--background-gray);
}

.btn {
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.wh-100 {
  width: 100%;
  height: 100%;
}

.w-100 {
  width: 100%;
}

.border__gray {
  border: 1px solid var(--border-gray);
}

/* 사이드바 */
.wrapper {
  padding-left: 300px;
}
.sec1 {
  margin: 0;
  padding: 0;
}
.side-bar {
  position: fixed;
  height: 100%;
  z-index: 201;
  left: 0;
  top: 0;
}
