<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lit_MAIN</title>
    <link rel="stylesheet" href="/assets/css/main/main.css"/>
    <link rel="stylesheet" href="/assets/css/default.css"/>
</head>

<body>
<header></header>
<main>
    <div class="_main_wrapper">
        <div class="_main_top_wrapper">
            <!-- 선택창 -->
            <div class="_top_selector">
                <div class="_selector_wrapper">
                    <a href="/" class="_top_home">
                        <div class="_selector">홈</div>
                    </a>
                    <a href="/" class="_top_popular">
                        <div class="_selector">인기</div>
                    </a>
                    <a href="/" class="_top_new">
                        <div class="_selector">신규</div>
                    </a>
                </div>
            </div>
            <!-- 광고 배너 -->
            <div class="_top_ad">
                <div class="_ad_wrapper">
                    <img src="/images/main/banner_ad1.jpg" width="895" height="208">
                    <img src="/images/main/banner_ad2.png" width="895" height="208" style="left:0%; z-index:1">
                    <img src="/images/main/banner_ad3.png" width="895" height="208" style="left:-100%">
                </div>
            </div>
            <!-- 카테고리 선택 창 -->
            <div class="_category_wrapper">
                <a href="/">
                    <div class="_category_detail _life">
                        <div class="_category_img_box" style="padding:10px ;">
                            <div class="_category_img">
                                <img class="_img" src="/images/main/life.png">
                            </div>
                        </div>
                        <div class="_category_write">
                            생 활
                        </div>
                    </div>
                </a>
                <a href="/">
                    <div class="_category_detail _exercise">
                        <div class="_category_img_box">
                            <div class="_category_img">
                                <img src="/images/main/exercise.png" class="_img">
                            </div>
                        </div>
                        <div class="_category_write">
                            운 동
                        </div>
                    </div>
                </a>
                <a href="/">
                    <div class="_category_detail _hobby">
                        <div class="_category_img_box">
                            <div class="_category_img">
                                <img src="/images/main/hobby.png" class="_img">
                            </div>
                        </div>
                        <div class="_category_write">
                            취 미
                        </div>
                    </div>
                </a>
                <a href="/">
                    <div class="_category_detail _art">
                        <div class="_category_img_box">
                            <div class="_category_img">
                                <img src="/images/main/art.png" class="_img">
                            </div>
                        </div>
                        <div class="_category_write">
                            예 술
                        </div>
                    </div>
                </a>
                <a href="/">
                    <div class="_category_detail _heart">
                        <div class="_category_img_box">
                            <div class="_category_img">
                                <img src="/images/main/heart.png" class="_img">
                            </div>
                        </div>
                        <div class="_category_write">
                            정 서
                        </div>
                    </div>
                </a>
                <a href="/">
                    <div class="_category_detail _eating">
                        <div class="_category_img_box">
                            <div class="_category_img">
                                <img src="/images/main/eating.png" class="_img">
                            </div>
                        </div>
                        <div class="_category_write">
                            식 습 관
                        </div>
                    </div>
                </a>
                <a href="/">
                    <div class="_category_detail _study">
                        <div class="_category_img_box">
                            <div class="_category_img">
                                <img src="/images/main/study.png" class="_img">
                            </div>
                        </div>
                        <div class="_category_write">
                            공 부
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- 본문 시작 -->
        <div class="_main_bottom_wrapper">
            <!-- 변경 버튼 -->
            <div class="litChange">
                <div>
                    <a class="lits1On" id="lits1">
                        <div><img class="litSvg" id="lit1Img" src="/images/mypage/menu.png">
                            <span class="litSpan">Lit up</span>
                        </div>
                    </a>
                </div>
                <div>
                    <a class="lits2Off" id="lits2">
                        <div><img class="litSvg" id="lit2Img" src="/images/mypage/fire.png">
                            <span class="litSpan">Lits</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- 프로젝트 시작 -->
            <div class="photoContent" style="display: flex">
                <article class="articleClass">
                    <div style="flex-wrap:wrap">
                        <div class="content1">
                            <div class="content2" style="display:flex">
                                <div class="content3"><a class="aContent" href="">
                                    <div class="content4">
                                        <div class="content5"><img alt="" class="contentImage"
                                                                   src="/images/main/jenny2.jpg">
                                        </div>
                                        <div class="content6"></div>
                                    </div>
                                </a>
                                </div>
                                <div class="content2_1"><a class="content2_a" href="">
                                    <div class="content2_2">
                                        <div class="content2_3"><img alt="" class="contentImage2"
                                                                     src="/images/main/jenny1.jpg">
                                        </div>
                                        <div class="content2_4"></div>
                                    </div>
                                </a>
                                </div>
                                <div class="content3_1"><a class="content3_a" href="">
                                    <div class="content3_2">
                                        <div class="content3_3"><img alt="" class="contentImage3"
                                                                     src="/images/main/jenny2.jpg">
                                        </div>
                                        <div class="content3_4"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <footer></footer>
</main>


</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="/assets/js/main/main.js"></script>

</html>