.mypageMain{
    align-items: stretch;
    border: 0 solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
    flex-grow: 1;
    order: 4;
}

.mainInner{
    padding: 30px 20px 0;
    box-sizing: content-box;
    flex-grow: 1;
    margin: 0 auto 30px;
    min-width: 935px;
}

.mypageHeader{
    margin-bottom: 44px;
    flex-direction: row;
    display: flex;
}

.profile1{
    flex-basis: 0px;
    flex-grow: 1;
    margin-right: 30px;
}

.profile2{
    height: calc(148px + 2px);
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile3{
    background-color: rgb(250,250,250);
    border-radius: 50%;
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.profileButton{
    border: 0;
    cursor: pointer;
    height: 100%;
    padding: 0;
    width: 100%;
}

.profileImg{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.mypageSection{
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    flex-grow: 2;
    flex-basis: 30px;
}

.sectionH2{
    margin-bottom: 20px;
    align-items: center;
    flex-direction: row;
    flex-shrink: 1;
    min-width: 0;
    display: flex;
    box-sizing: border-box;
    position: relative;
}

.editProfile{
    margin-left: 30px;
}

.editProfileInner{
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    background-color: transparent;
    border: 1px solid rgb(219,219,219);
    color: rgb(38,38,38);
    border-radius: 4px
}

.profileA{
    background-color: transparent;
    border: 1px solid rgb(219,219,219);
    color: rgb(38,38,38);
    border-radius: 4px;
    position: relative;
    -webkit-appearance: none;
    background: none;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-size: 14px;
    padding: 5px 9px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: inherit;
    -webkit-user-select: none;
    width: auto;
}

.mypageUl{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.mypageLi{
    margin-left: 0;
    font-size: 16px;
    margin-right: 40px;
}

ul{
    list-style:none;
    padding-left:0px;
}

.litChange{
    align-items: center;
    border-top: 1px solid rgb(219, 219, 219);
    color: #8e8e8e;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 1px;
    text-align: center;
    
}

.litUp{
    margin-right: 60px;
    align-items: center;
    color: rgb(38,38,38);
    cursor: pointer;
    flex-direction: row;
    height: 52px;
    justify-content: center;
    text-transform: uppercase;
}

.lits1{
    margin-right: 100px;
    align-items: center;
    color: rgb(142,142,142);
    cursor: pointer;
    flex-direction: row;
    height: 52px;
    justify-content: center;
    text-transform: uppercase;
    display: flex;
}

.lits2{
    margin-left: 100px;
    align-items: center;
    color: rgb(142,142,142);
    cursor: pointer;
    flex-direction: row;
    height: 52px;
    justify-content: center;
    text-transform: uppercase;
    display: flex;
}


.litSpan{
    margin-left: 6px;
}


.articleClass{
    flex-grow: 1;
    align-items: stretch;
    border: 0 solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

.content1{
    flex-direction: column;
    padding-bottom: 0px;
    padding-top: 0px;
    
}

.content2{
    margin-bottom: 28px;
    flex-direction: row;
}

.content3{
    flex: 1 0 0%;
    margin-right: 28px
}

.photoContent{
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-shrink: 0;
}

.content3{
    flex: 1 0 0%;
    margin-right: 28px;
    display: block;
    position: relative;
    width: 100%;
}

.content4{
    background-color: rgb(239,239,239);
    display: block;
    width: 100%;
}

.aContent{
    text-decoration: none;
}

.content5{
    display: block;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
}

.contentImage{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-user-select: none;
    width: 100%;
    object-fit: cover;
}

.content6{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.content2_1{
    flex: 1 0 0%;
    margin-right: 28px;
    display: block;
    position: relative;
    width: 100%;
}

.content2_a{
    text-decoration: none;
    color: rgb(0,55,107);
}

.content2_2{
    background-color: rgb(239,239,239);
    display: block;
    width: 100%;
}

.content2_3{
    display: block;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
}

.contentImage2{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-user-select: none;
    width: 100%;
    object-fit: cover;
}

.content2_4{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.content3_1{
    flex: 1 0 0%;
    margin-right: 0;
    display: block;
    position: relative;
    width: 100%;
}

.content3_a{
    text-decoration: none;
    color: rgb(0,55,107);
}

.content3_2{
    background-color: rgb(239,239,239);
    display: block;
    width: 100%;
}

.content3_3{
    display: block;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
}

.contentImage3{
    object-fit: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-user-select: none;
    width: 100%;
}

.content3_4{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.divInfo{
    display: flex;
}

.spanInfo{
    color: rgb(var(--ig-primary-text));
    font-weight: 600;
    margin-left: 10px;
}

.svgLit{
    display: block;
    position: relative;
    color: rgb(38, 38, 38);
    fill: rgb(38, 38, 38);
    height: 12;
    width: 12;
}

.litSvg{
    position: relative;
    height: 12px;
    width: 12px;
}

.medalImg{
    height: 30px;
    width: 30ox;
    margin-left: 5px;
}

.follower{
    background-color: rgba(0, 0, 0, 0.4);
    height: 150vh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0%;
    background: cover;
    overflow: hidden;
    display: none;
}

.followering{
    background-color: rgba(0, 0, 0, 0.4);
    height: 150vh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0%;
    background: cover;
    overflow: hidden;
    display: none;
}

.medal{
    background-color: rgba(0, 0, 0, 0.4);
    height: 150vh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0%;
    background: cover;
    overflow: hidden;
    display: none;
}

.followerModal{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 15px;
    position: absolute;
    left: 35%;
}

.medalModal{
    width: 400px;
    min-height: 200px;
    background-color: rgb(70, 70, 70);
    border-radius: 15px;
    position: absolute;
    left: 35%;
}

.followerCancel{
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 8px;
    position: absolute;
    right: 5px;
    top: 12px;
}

.followerHeader{
    width: 100%;
    flex: 0 0 auto;
    justify-content: center;
    position: relative;
    padding: 15px 0px;
    border-bottom: 1px solidrgb(219,219,219);
    flex-direction: row;
    width: 100%;
    text-align: center;
}

.followerModalWrapper{
    /* position: relative;
    top: 100px; 
    vh -> 화면 기준
    */
    height: 100vh; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.followerDiv{
    
}

.followerName{
    flex-direction: row;
}

.name1{
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
}

.name2{
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
}


.followerImg{
    display: block;
    height: fit-content;
    width: fit-content;
    position: relative;
}

.followerImg2{
    align-items: center;
    align-self: center;
    display: block;
    flex: none;
    justify-content: center;
    position: relative;
    margin: 4px;
    margin-right: 13px;
}

.followerImgA{
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(250,250,250);
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
}

.followerImgImg::after{
    border-radius: 50%;
    bottom: 0;
    content: '';
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}

.followerImgImg{

}

.canvas{
    position: absolute;
    top: -5px;
    left: -5px;
    width: 40px;
    height: 40px;
}

/* mypage2 */

.followerTwo{
    border-radius: 12px;
    display: block;
    flex: 1 1;
    min-height: 200px;
    overflow: auto hidden;
}

.followerTwoUl{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    list-style: none;
}

.followerTwoWrapper{
    border: 0;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.followerTwoLi{
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
}

.follower1{
    flex-direction: row;
    justify-content: space-between;
}

.follower2{
    align-items: center;
    display: flex;
    flex: 1 1 100px;
    flex-direction: row;
    overflow: hidden;
}

.follower3{
    display: block;
    height: fit-content;
    width: fit-content;
}

.follower4{
    align-items: center;
    align-self: center;
    display: block;
    flex: none;
    justify-content: center;
    position: relative;
    margin: 4px;
    margin-right: 13px;
}

.followerCanvass{
    position: absolute;
    top: -5px;
    left: -5px;
    width: 40px;
    height: 40px;
}

.followerAa{
    width: 30px;
    height: 30px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(250,250,250);
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
}

.followerImgg{
    width: 30px;
    height: 30px;
}

.medalImgg{
    width: 60px;
    height: 60px;
    margin: 3px;
}

.followerImgg::after{
    border-radius: 50%;
    bottom: 0;
    content: '';
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}

.follower5{
    flex: 1 1 70px;
    flex-direction: column;
    justify-content: center;
    min-width: 70px;
}

.follower6{
    align-content: center;
    flex-direction: row;
}

.followerSpann{
    position: relative;
    display: inline;
}

.follower7{
    display: inline!important;
    margin: 0!important;
    color: rgb(38,38,38);
    font-weight: 600;
}

.follower8{
    color: rgb(142,142,142);
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.follower9{
    flex: 0 0 auto;
    justify-content: center;
    margin-left: 15px;
}

.followingBtnn, .followerBtnn{
    background-color: transparent;
    border: 1px solid rgb(219,219,219);
    color: rgb(38,38,38);
    border-radius: 4px;
    position: relative;
    -webkit-appearance: none;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: inherit;
    -webkit-user-select: none;
    width: auto;
}

.followBtnn{
    background-color: rgb(0,149,246);
    border: 1px solid rgb(219,219,219);
    color: rgb(255,255,255);
    border-radius: 4px;
    position: relative;
    -webkit-appearance: none;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: inherit;
    -webkit-user-select: none;
    width: auto;
}