<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lit_MAIN</title>
    <link rel="stylesheet" href="../../static/assets/css/changeinfo/withdraw.css" />
    <!-- 경로 잡아야함 -->
</head>

<body>

<main style="min-height:85vh">
    <div class="_changepw_main_wrapper">
        <div class="_changepw_content" >
            <div class="_navbar">
                <ul class="mainUl">
                    <li class="mainLi"><a class="mainA" href="../../templates/changeinfo/editInfo.html" tabindex="0">프로필 편집</a></li>
                    <li class="mainLi"><a class="mainA" href="../../templates/changeinfo/changePw.html" tabindex="0">비밀번호
                        변경</a>
                    </li>
                    <li class="mainLi"><a class="mainA" href="../../templates/changeinfo/withdraw.html" tabindex="0">회원 탈퇴</a></li>

                </ul>
            </div>
            <div class="_withdrawl_wrapper">
                <div class="_withdrawl_profile flexclass">
                    <div class="_profile_icon">
                        <div class="_profile_wrapper">
                            <img src="../../static/images/changeinfo/jenny2.jpg" width="38px" height="38px">
                        </div>
                    </div>
                    <div class="_profile_nickname">
                        <h1 class="_nickname">xldms.dl</h1>
                    </div>
                </div>
                <form class="_withdrawl_form">
                    <div class="_checkPassword flexclass detail">
                        <div class="_label_wrapper">
                            <label for="checkPassword">비밀번호 확인</label>
                        </div>
                        <div class="_input_wrapper">
                            <input class="_withdrawlPassword" id="_withdrawlPassword"
                                   name="withdrawlPassword" required="" spellcheck="true" type="password" value="" style="padding-right: 140px;">
                        </div>
                    </div>

                    <div class="flexclass detail">
                        <aside class="sxIVS  tvweK"><label></label></aside>
                        <div class="ada5V">
                            <div class="_5Q0UX"><button class="sqdOP  L3NKy   y3zKF _withdrawl_button" disabled=""
                                                        type="button">회원 탈퇴</button></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="../../static/assets/js/changeinfo/withdraw.js"></script>

</html>