<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/forgetPW.css">
</head>

<body>

    <div style="width: 100%;height: 100%;">
        <div style="width: 100%;height: 100%;">
            <main class="" role="main">
                <div class="head">
                    <div class="headSet">
                        <div class=" "><a href="/src/main/resources/templates/login/forgetPW.html" tabindex="0">
                                <div class="">
                                    <div class="" data-testid="instagram-homepage-logo">
                                        <img alt="Lit" class="" src="/src/main/resources/static/images/Lit-logo.jpg">
                                    </div>
                                </div>
                            </a></div>
                    </div>
                </div>
                <div class="underHead">
                    <div class="siedMargin">
                        <div class="board">
                            <div class="underBoard" style="max-width: 388px;">
                                <div class="boardMargin">
                                    <div class="boardTopMargin">
                                        <img class="icon" src="/src/main/resources/static/images/Lit-logo.jpg" alt="">
                                    </div>
                                    <div class="margin">
                                        <h4 class="">로그인에 문제가 있나요?</h4>
                                    </div>
                                    <div class="">
                                        <div class="">
                                            이메일 주소, 전화번호 또는 사용자 이름을 입력하시면 계정에 다시 액세스할 수 있는 링크를 보내드립니다.</div>
                                    </div>
                                    <div class="">
                                        <form method="post"><label class="" for="f48eb711acd6f"><input class="" id=""
                                                    name="Email" placeholder="이메일" spellcheck="true" type="text"
                                                    value=""><span class="Oouko  ">이메일</span></label>
                                        </form>
                                    </div>
                                    <div class="">
                                        <button class="" disabled="" type="button">로그인 링크 보내기</button>
                                    </div>
                                    <div class="">
                                        <div class="">
                                            <div class=""></div>
                                            <div class="-g">또는</div>
                                            <div class=""></div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <a class="" href="/accounts/emailsignup/" tabindex="0">새 계정 만들기</a>
                                    </div>
                                    <div class=" ">
                                        <div class="" style="height: 44px;"><a class="sqdOP yWX7d     _8A5w5   ZIAjV "
                                                href="/accounts/login/?source=reset_password" tabindex="0">로그인으로
                                                돌아가기</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>

</html>