<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/join.css">
</head>

<body>

    <main class="main" role="main">
        <div class="underMain" style="min-height: 100%;">
            <div class="boarder">
                <div class="possion">
                    <div class="logo">
                        <div aria-disabled="false" role="button" tabindex="0" style="cursor: pointer;"><img alt="lit"
                                class="logoImage" src="" srcset=""></div>
                    </div>
                    <div class="mid">
                        <form class="joinFor" method="post">
                            <h2 class="joinForText">친구들의 사진과 동영상을 보려면 가입하세요.</h2>
                            <div class="kakaoMargin">
                                <button class="kakaoButton y3zKF L3NKy" type="button">
                                    <span class="kakaoButtomText"></span>카카오톡으로 로그인</button>
                            </div>
                            <div class="underKakao">
                                <div class="inline"></div>
                                <div class="inlineText">또는</div>
                                <div class="inline"></div>
                            </div>
                            <div class="firstDiv">
                                <div class="lainDiv">
                                    <label class="labelText"><span class="spanText">휴대폰 번호 또는 이메일 주소</span>
                                        <input aria-label="휴대폰 번호 또는 이메일 주소" aria-required="true" autocapitalize="off"
                                            autocomplete="tel" autocorrect="off" name="emailOrPhone" type="text"
                                            class="inputstyle" value=""></label>
                                    <div class="divFornot"></div>
                                </div>
                            </div>
                            <div class="firstDiv">
                                <div class="lainDiv"><label class="labelText"><span class="spanText">성명</span>
                                        <input aria-label="성명" aria-required="false" autocapitalize="sentences"
                                            autocorrect="off" name="fullName" type="text" class="inputstyle"
                                            value=""></label>
                                    <div class="divFornot"></div>
                                </div>
                            </div>
                            <div class="firstDiv">
                                <div class="lainDiv"><label class="labelText"><span class="spanText">사용자 이름</span>
                                        <input aria-label="사용자 이름" aria-required="true" autocapitalize="off"
                                            autocorrect="off" maxlength="30" name="username" type="text"
                                            class="inputstyle" value=""></label>
                                    <div class="divFornot"></div>
                                </div>
                            </div>
                            <div class="firstDiv">
                                <div class="lainDiv"><label class="labelText"><span class="spanText">비밀번호</span>
                                        <input aria-label="비밀번호" aria-required="true" autocapitalize="off"
                                            autocomplete="new-password" autocorrect="off" name="password"
                                            type="password" class="inputstyle" value=""></label>
                                    <div class="divFornot"></div>
                                </div>
                            </div>
                            <p class="forExample">서비스를 이용하는 사람이 회원님의 연락처 정보를 Instagram에 업로드했을 수도 있습니다.</p>
                            <div>
                                <div class="divButtom">
                                    <button class="buttonforjoin jonbuttoncolor" type="submit">가입</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
                <div class="forLogin">
                    <p class="loginMargin">계정이 있으신가요? <a data-testid="log-in-link" href="" tabindex="0" style="color: #0095f6; text-decoration: none;">로그인</a></p>
                </div>
            </div>
        </div>
    </main>
</body>

</html>