<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/login/join.css">
</head>

<body background="background-color: #fafafa;">

    <div style="width: 100%;height: 100%;">
        <div style="width: 100%;height: 100%;">
            <main class="main" role="main">
                <div class="underMain" style="min-height: 100%;">
                    <div class="boarder">
                        <div class="possion">
                            <div class="logo">
                                <div aria-disabled="false" role="button" tabindex="0" style="cursor: pointer;">
                                    <img alt="lit" class="logoImage" src="/src/main/resources/static/images/admin/logo.png"></div>
                            </div>
                            <div class="mid">
                                <form class="joinFor" method="post" onclick="join" action="/src/main/resources/templates/login/join.html">
                                    <h2 class="joinForText">친구들의 사진과 동영상을 보려면 가입하세요.</h2>
                                    <div class="kakaoMargin">
                                        <button class="kakaoButton y3zKF L3NKy" type="button">
                                            <span class="kakaoButtomText"></span>카카오톡으로 로그인</button>
                                    </div>
                                    <div class="underKakao">
                                        <div class="inline"></div>
                                        <div class="inlineText">또는</div>
                                        <div class="inline"></div>
                                    </div>
                                    <div class="firstDiv">
                                        <div class="lainDiv">
                                            <label class="labelText">
                                                <input placeholder="이메일 주소를 입력하세요" name="id" type="text" class="inputstyle" id="idval"></label>
                                            <div class="divFornot"></div>
                                        </div>
                                    </div>
                                    <div class="firstDiv">
                                        <div class="lainDiv">
                                            <label class="labelText">
                                                <input aria-label="성명" name="fullName" type="text" class="inputstyle" id="userName"></label>
                                            <div class="divFornot"></div>
                                        </div>
                                    </div>
                                    <div class="firstDiv">
                                        <div class="lainDiv">
                                            <label class="labelText">
                                                <input aria-label="사용자 이름" maxlength="30" name="username" type="text" class="inputstyle" id="nickName"></label>
                                            <div class="divFornot"></div>
                                        </div>
                                    </div>
                                    <div class="firstDiv">
                                        <div class="lainDiv"><label class="labelText">
                                                <input aria-label="비밀번호"  name="password" type="password" class="inputstyle" id="pwVal"></label>
                                            <div class="divFornot"></div>
                                        </div>
                                    </div>
                                    <p class="forExample">서비스를 이용하는 사람이 회원님의 연락처 정보를 Instagram에 업로드했을 수도 있습니다.</p>
                                    <div>
                                        <div class="divButtom">
                                            <button class="buttonforjoin jonbuttoncolor" type="submit">가입</button>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="forLogin">
                        <p class="loginMargin">계정이 있으신가요? <a data-testid="log-in-link" href="/src/main/resources/templates/login/login.html" tabindex="0"
                                style="color: #0095f6; text-decoration: none;">로그인</a></p>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
<script src="/src/main/resources/static/assets/js/login/join.js"></script>
</html>