<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/assets/css/test.css">
</head>
<body>

<main class="main" role="main">
    <div class=""
         style="min-height: 100%;">
        <div class="">
            <div class="">
                <div
                        class="">
                    <div aria-disabled="false" role="button" tabindex="0" style="cursor: pointer;"><img alt="Instagram"
                                                                                                        class="" src=""
                                                                                                        srcset=""></div>
                </div>
                <div class="">
                    <form class="" method="post">
                        <h2 class="">친구들의 사진과 동영상을 보려면 가입하세요.</h2>
                        <div
                                class="">
                            <button class="" type="button"><span
                                    class=""></span>Facebook으로 로그인</button></div>
                        <div class="">
                            <div class=""></div>
                            <div class="">또는</div>
                            <div class=""></div>
                        </div>
                        <div class="">
                            <div class=""><label class=""><span class="">휴대폰 번호 또는 이메일
                                        주소</span><input aria-label="휴대폰 번호 또는 이메일 주소" aria-required="true"
                                                        autocapitalize="off" autocomplete="tel" autocorrect="off" name="emailOrPhone"
                                                        type="text" class="" value=""></label>
                                <div class=""></div>
                            </div>
                        </div>
                        <div class="">
                            <div class=""><label class=""><span class="">성명</span><input
                                    aria-label="성명" aria-required="false" autocapitalize="sentences"
                                    autocorrect="off" name="fullName" type="text" class=""
                                    value=""></label>
                                <div class=""></div>
                            </div>
                        </div>
                        <div class="">
                            <div class=""><label class="f0n8F "><span class="_9nyy2">사용자 이름</span><input
                                    aria-label="사용자 이름" aria-required="true" autocapitalize="off" autocorrect="off"
                                    maxlength="30" name="username" type="text" class=""
                                    value=""></label>
                                <div class=""></div>
                            </div>
                        </div>
                        <div class="">
                            <div class=""><label class=" "><span class="_9nyy2">비밀번호</span><input
                                    aria-label="비밀번호" aria-required="true" autocapitalize="off"
                                    autocomplete="new-password" autocorrect="off" name="password" type="password"
                                    class="" value=""></label>
                                <div class=""></div>
                            </div>
                        </div>
                        <p class="">서비스를 이용하는 사람이 회원님의 연락처 정보를 Instagram에 업로드했을 수도 있습니다. <a
                                href="" tabindex="0"
                            target="_blank">더 알아보기</a></p>
                        <div>
                            <div
                                    class="">
                                <button class="" disabled="" type="submit">가입</button></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="">
                <p class="">계정이 있으신가요? <a data-testid="log-in-link" href=""
                    tabindex="0">로그인</a></p>
            </div>

        </div>
    </div>
</main>
</body>
</html>