<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lit.mapper.project.ProjectMapper">
    <select id="getList" resultType="projectVO">
        SELECT PJ.PROJECT_NUMBER, PJ.TITLE, PJ.CATEGORY, PJ.CONTENT, PJ.AUTHENTICATION, PJ.START_DATE, PJ.END_DATE
        FROM TBL_PROJECT PJ, TBL_PARTICIPATION PT
         <choose>
             <when test="#{category}.equals('popular')">
                 ORDER BY COUNT(PT.USER_NUMBER)
             </when>
             <when test="#{category}.equals('new')">
                 ORDER BY PJ.START_DATE DESC
             </when>
             <otherwise>
                 WHERE PJ.CATEGORY =#{category} ORDER BY PJ.START_DATE DESC
             </otherwise>
         </choose>
    </select>

    <insert id="insert">
        <selectKey keyProperty="projectNumber" resultType="long" order="BEFORE">
            SELECT SEQ_PROJECT.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_PROJECT
        (PROJECT_NUMBER, TITLE, CATEGORY, CONTENT, AUTHENTICATION, START_DATE, END_DATE)
        VALUES(#{projectNumber}, #{title}, #{category}, #{content}, #{authentication}, #{startDate}, #{endDate})
    </insert>

    <select id="get" resultType="projectVO">
        SELECT PROJECT_NUMBER, TITLE, CATEGORY, CONTENT, AUTHENTICATION, START_DATE, END_DATE
        FROM TBL_PROJECT WHERE PROJECT_NUMBER = #{projectNumber}
    </select>

    <delete id="delete">
        DELETE FROM TBL_PROJECT WHERE PROJECT_NUMBER = #{projectNumber}
    </delete>

    <select id="getTotal" resultType="_int">
        SELECT COUNT(PROJECT_NUMBER) FROM TBL_PROJECT
    </select>

    <select id="searchProject" resultType="projectVO">
        SELECT PROJECT_NUMBER, TITLE, CATEGORY, CONTENT, AUTHENTICATION, START_DATE, END_DATE, STATUS
        FROM TBL_PROJECT
        WHERE ${type} LIKE '%'||#{keyword}||'%'
        <trim prefix="AND">
            <if test="category != null">
                CATEGORY = ${category}
            </if>
        </trim>
        <trim prefix="AND">
            <if test="startDate != ''">
                <![CDATA[
                    START_DATE >= #{startDate}
                    ]]>
            </if>
        </trim>
        <trim prefix="AND">
            <if test="endDate != ''">
                <![CDATA[
                    END_DATE <= #{endDate}
                    ]]>
            </if>
        </trim>
        AND STATUS = 0
    </select>

</mapper>