<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lit.mapper.review.ReplyMapper">
    <insert id="insert">
        INSERT INTO TBL_REPLY
        (REPLY_NUMBER, REVIEW_NUMBER, USER_NUMBER, CONTENT)
        VALUES(SEQ_REPLY.NEXTVAL, #{reviewNumber}, #{userNumber}, #{content})
    </insert>

    <delete id="delete">
        DELETE FROM TBL_REPLY WHERE REPLY_NUMBER = #{replyNumber}
    </delete>


<!--    ###################### 닉네임 이슈로 resultType 변경 또는 TBL_REPLY에 nickname 추가 검토 ############# -->
    <select id="getList" resultType="replyVO">
        <![CDATA[
        SELECT CONTENT , RGISTER_DATE FROM
            (
                SELECT /*+ INDEX(TBL_REPLY SYS_C007522) */ CONTENT , RGISTER_DATE, ROWNUM RN
                FROM TBL_REPLY
                WHERE REVIEW_NUMBER = #{reviewNumber} AND ROWNUM <= #{criteria.pageNum} * #{criteria.amount}
            )
        WHERE RN > (#{criteria.pageNum} - 1) * #{criteria.amount}
        ]]>
    </select>
<!--    ###################### 닉네임 이슈로 resultType 변경 또는 TBL_REPLY에 nickname 추가 검토 ############# -->

    <select id="getTotal" resultType="_int">
        SELECT COUNT(REPLY_NUMBER) FROM TBL_REPLY WHERE REVIEW_NUMBER = #{reviewNumber}
    </select>



</mapper>