<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lit.mapper.user.UserMapper">
    <insert id="insert">
        INSERT INTO TBL_USER
        (USER_NUMBER, EMAIL, NAME, NICKNAME, PASSWORD )
        VALUES(SEQ_USER.NEXTVAL, #{email}, #{name}, #{nickname}, #{password})
    </insert>

    <insert id="kakaoInsert">
        INSERT INTO TBL_USER
        (USER_NUMBER, EMAIL, NAME, NICKNAME, PASSWORD )
        VALUES(SEQ_USER.NEXTVAL, #{email}, #{name}, #{nickname})
    </insert>

    <select id="emailCheck" resultType="_int">
        SELECT COUNT(EMAIL) FROM TBL_USER
        WHERE EMAIL = #{email}
    </select>

    <select id="nicknameCheck" resultType="_int">
        SELECT COUNT(NICKNAME) FROM TBL_USER
        WHERE NICKNAME = #{nickname}
    </select>

    <select id="login" resultType="_int">
        SELECT COUNT(USER_NUMBER) FROM TBL_USER
        WHERE EMAIL = #{email} AND PASSWORD = #{password}
    </select>

    <delete id="delete">
        DELETE FROM TBL_USER WHERE USER_NUMBER = #{userNumber}
    </delete>

    <select id="getUser" resultType="userVO">
        SELECT USER_NUMBER, EMAIL, NAME, NICKNAME, PASSWORD, CONTENT FROM TBL_USER
        WHERE USER_NUMBER = #{userNumber}
    </select>

    <update id="update">
        UPDATE TBL_USER
        SET NAME = #{name}, NICKNAME = #{nickname},
            CONTENT = #{content}, EMAIL = #{email}
        WHERE USER_NUMBER = #{userNumber}
    </update>

    <update id="updatePw">
        UPDATE TBL_USER
        SET PASSWORD = #{newPassword}
        WHERE PASSWORD = #{userVO.password} AND USER_NUMBER = #{userVO.userNumber}
    </update>

    <update id="updateMedal">
        UPDATE TBL_USER
        SET ACHIEVEMENT_NUMBER = #{achievementNumber}
        WHERE USER_NUMBER = #{userNumber}
    </update>

    <select id="userSearch" resultType="userVO">
        SELECT USER_NUMBER, EMAIL, NAME, NICKNAME, CONTENT, KAKAO, REGISTER_DATE
        FROM TBL_USER
        WHERE ${type} LIKE '%'||#{keyword}||'%'
        <trim prefix="AND">
            <choose>
                <when test="kakao == '1'.toString()">
                    KAKAO IS NOT NULL
                </when>
                <when test="kakao == '2'.toString()">
                    KAKAO IS NULL
                </when>
            </choose>
        </trim>
        <trim prefix="AND">
                <if test="startDate != ''">
                    <![CDATA[
                    TO_CHAR(REGISTER_DATE, 'yyyy-mm-dd') >= #{startDate}
                    ]]>
                </if>
        </trim>
        <trim prefix="AND">
                <if test="endDate != ''">
                    <![CDATA[
                    TO_CHAR(REGISTER_DATE, 'yyyy-mm-dd') <= #{endDate}
                    ]]>
                </if>
        </trim>
    </select>

    <select id="getTotal" resultType="_int">
        SELECT COUNT(USER_NUMBER) FROM TBL_USER
    </select>

    <select id="getUserChart" resultType="long">
        SELECT COUNT(USER_NUMBER)
        FROM TBL_USER
        WHERE TO_CHAR(REGISTER_DATE, 'yyyy-mm-dd') = #{date}
    </select>

</mapper>