<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lit.mapper.user.UserMapper">
    <insert id="insert">
        INSERT INTO TBL_USER
        (USER_NUMBER, EMAIL, NAME, NICKNAME, PASSWORD )
        VALUES(SEQ_USER.NEXTVAL, #{email}, #{name}, #{nickname}, #{password})
    </insert>

    <insert id="kakaoInsert">
        INSERT INTO TBL_USER
        (USER_NUMBER, EMAIL, NAME, NICKNAME, PASSWORD )
        VALUES(SEQ_USER.NEXTVAL, #{email}, #{name}, #{nickname})
    </insert>

    <select id="emailCheck" resultType="_int">
        SELECT COUNT(EMAIL) FROM TBL_USER
        WHERE EMAIL = #{email}
    </select>

    <select id="nicknameCheck" resultType="_int">
        SELECT COUNT(NICKNAME) FROM TBL_USER
        WHERE NICKNAME = #{nickname}
    </select>

    <select id="login" resultType="userVO">
        SELECT USER_NUMBER, EMAIL, NAME, NICKNAME, PASSWORD, CONTENT FROM TBL_USER
        WHERE EMAIL = #{email} AND PASSWORD = #{password}
    </select>

    <delete id="delete">
        DELETE FROM TBL_USER WHERE USER_NUMBER = #{userNumber}
    </delete>

    <select id="getUser" resultType="userVO">
        SELECT USER_NUMBER, EMAIL, NAME, NICKNAME, PASSWORD, CONTENT FROM TBL_USER
        WHERE USER_NUMBER = #{userNumber}
    </select>

    <update id="update">
        UPDATE TBL_USER
        SET NAME = #{name}, NICKNAME = #{nickname},
            CONTENT = #{content}, EMAIL = #{email}
        WHERE USER_NUMBER = #{userNumber}
    </update>

    <update id="updatePw">
        UPDATE TBL_USER
        SET PASSWORD = #{newPassword}
        WHERE PASSWORD = #{userVO.password} AND USER_NUMBER = #{userVO.userNumber}
    </update>

    <update id="updateMedal">
        UPDATE TBL_USER
        SET ACHIEVEMENT_NUMBER = #{achievementNumber}
        WHERE USER_NUMBER = #{userNumber}
    </update>

    <select id="mypageReviewCnt" resultType="_int">
        SELECT COUNT(REVIEW_NUMBER)
        FROM TBL_REVIEW
        WHERE USER_NUMBER =
                            (
                            SELECT USER_NUMBER
                            FROM TBL_USER
                            WHERE USER_NUMBER = #{userNumber}
                            )
    </select>

    <select id="followerCnt" resultType="_int">
        SELECT COUNT(FOLLOWER_NUMBER)
        FROM TBL_FOLLOW
        WHERE FOLLOWING_NUMBER =
                            (
                                SELECT USER_NUMBER
                                FROM TBL_USER
                                WHERE USER_NUMBER = #{userNumber}
                            )
    </select>

    <select id="followingCnt" resultType="_int">
        SELECT COUNT(FOLLOWING_NUMBER)
        FROM TBL_FOLLOW
        WHERE FOLLOWER_NUMBER =
                            (
                                SELECT USER_NUMBER
                                FROM TBL_USER
                                WHERE USER_NUMBER = #{userNumber}
                            )
    </select>

    <select id="getFollowerList" resultType="userVO">
        SELECT USER_NUMBER, EMAIL, NAME, NICKNAME, PASSWORD, CONTENT
        FROM TBL_FOLLOW f LEFT OUTER JOIN TBL_USER u
        ON f.FOLLOWER_NUMBER = u.USER_NUMBER
        WHERE f.FOLLOWING_NUMBER = #{userNumber}
    </select>

    <select id="getFollowingList" resultType="userVO">
        SELECT USER_NUMBER, EMAIL, NAME, NICKNAME, PASSWORD, CONTENT
        FROM TBL_FOLLOW f LEFT OUTER JOIN TBL_USER u
        ON f.FOLLOWING_NUMBER = u.USER_NUMBER
        WHERE f.FOLLOWER_NUMBER = #{userNumber}
    </select>

    <delete id="deleteFollower">
        DELETE FROM TBL_FOLLOW
        WHERE FOLLOWER_NUMBER = #{followerNumber} AND FOLLOWING_NUMBER = #{followingNumber}
    </delete>

</mapper>