main{
    background: rgb(250,250,250);
    margin-top: 100px;

}


label{
    font-weight: bold;
    font-size: 16px;
    color: #262626;
    line-height: 18px;
    margin-top: 6px;
    padding-left: 34px;
}

._label_wrapper{
    flex-basis: 355px;
    flex-direction: row;
    padding-right: 60px;
    color: #262626;
    flex-grow: 1;
    font-size: 16px;
    justify-content: flex-start;
    width: 100%;
    padding-left: 28px;
    padding-right: 28px;
    text-align: center;
    margin-top: 8px;
}

.cppNewPassword, .cppOldPassword, .cppCheckPassword{
    padding-right: 140px;
}

._changepw_main_wrapper{
    background-color: rgba(255,255,255);
    border: 1px solid rgba(219,219,219);
    border-radius: 3px;
    margin: auto;
    max-width: 935px;
    overflow: hidden;
    height: 679px;
    width: 100%;
    display: flex;
    
}

._changepw_content{
    display: flex;
    max-width: 935px;
    height: 759px;
    width: 100%;
    background-color: rgb(255,255,255);
    border: 1px solid rgb(219, 219, 219);

}


._input_wrapper{

    flex-basis: 355px;
    flex-direction: row;
    padding-right: 70px;
}

._input_wrapper input{
    border: 1px solid rgba(219,219,219,1);
    border-radius: 6px;
    color: rgba(38,38,38,1);
    flex-grow: 1;
    font-size: 14px;
    line-height: 30px;
    margin: 0;
    overflow: visible;
    padding: 4px 12px;
    background: rgba(250,250,250,1);
}


.detail{
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 16px;
}

._changepw_wrapper{
    flex: 1 1 400px;
    min-width: 50px;
    -webkit-box-flex: 1;
    padding-bottom: 326px
}

._navbar{
    flex-basis: 236px;
}

.flexclass{
    display: flex;
    width:100%;
}

._changepw_profile{
    justify-content: flex-start;
    margin: 32px 0 0;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    display: flex;
    padding-bottom: 17px;
}

._profile_icon{
    margin: 2px 32px 0 124px;
    height: 38px;
    width: 38px;
}

._profile_wrapper{
    background-color: rgba(250,250,250);
    border-radius: 50%;
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

._profile_wrapper ::after{
    border: 1px solid rgba(0,0,0,.0975);
    border: 1px solid rgba(var(--jb7,0,0,0),.0975);
    border-radius: 50%;
    bottom: 0;
    content: '';
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}

.info1ArticleImg{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

._profile_nickname{
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    margin-right: 20px;
    overflow-x: hidden;
}

._nickname{
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 17px;
}

._changepw_form{
    align-items: stretch;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    margin-top: 22px;
}

._checkArea3 {
    margin-left: 260px;
    margin-top: -11px;
}

.sxIVS {
    padding-left: 32px;
    padding-right: 32px;
    text-align: right;
}

.sxIVS {
    box-sizing: border-box;
    color: #262626;
    flex: 1 0 240px;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    margin-top: 6px;
}

.ada5V {
    flex-basis: 355px;
    flex-direction: row;
    padding-right: 60px;
}

.ada5V {
    color: #262626;
    flex-grow: 1;
    font-size: 16px;
    justify-content: flex-start;
}

._5Q0UX {
    margin-top: 16px;
}

.buttonStyle{
    border-radius: 4px;
    background-color: rgba(255, 69, 67, 0.3);
    pointer-events: none;
    color: rgba(var(--eca,255,255,255),1);
    position: relative;
    appearance: none;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: inherit;
    user-select: none;
    width: auto;
    line-height: 20px;
}
    
.buttonOn{
    border-radius: 4px;
    background-color: rgb(250, 100, 98);
    color: rgba(var(--eca,255,255,255),1);
    position: relative;
    appearance: none;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: inherit;
    user-select: none;
    width: auto;
    line-height: 20px;
}

.mainUl{
    border-right: 1px solid rgba(219,219,219);
    display: flex;
    flex-basis: 236px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    -webkit-box-pack: justify;
    list-style: none;
    justify-content: flex-start;
    padding: 0;
}

.mainLi{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: list-item;
    text-align: -webkit-match-parent;
}

.mainA{
    color: rgba(38,38,38);
    text-decoration: none;
    border-left-color: rgba(38,38,38);
    font-weight: 600;
    border-left: 2px solid transparent;
    display: block;
    font-size: 16px;
    height: inherit;
    line-height: 20px;
    padding: 16px 16px 16px 30px;
    width: calc(100% - 48px);

}

